// Place all the styles related to the lights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin ligth {
  background-image: url("/assets/ligth_on_off.jpg");
  background-size: auto auto;
  height: 137px;
  width: 82px;
}
.ligth_on {
  @include ligth;
  background-position: -300px 8px;
  padding: 17px 64px 270px 279px;
}
.ligth_off {
  @include ligth;
  background-position: -65px 8px;
  padding: 17px 64px 270px 114px;
}
